/* ADDING GLOBAL SETTINGS FOR THE PAGE*/
body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #f9f9f9;
}

/* "LOGO" IN TOP LEFT CORNER */
.navbar-logo {
    list-style-type: none;
    margin-right:auto;
    font-weight: 900;
}

/* PLACEHOLDERS NEED TO BE TRANSPARENT WHEN INPUT IS FOCUSED */
input:focus::placeholder {
    color: transparent;
}

/*  ICONS FOR VALID FORM DATA NEED TO BE HIDDEN WHEN PAGE LOADS*/
input{
    width: 325px;
}

.input-icons span {
    position: absolute;
    visibility: hidden;
   
}

/* NAVBAR STYLING */
#navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #c1c1c1;
    max-width: 600px;
}

p {
    text-align: center;
    padding: 0.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border: 1px solid #c1c1c1;
    transition: box-shadow .15s ease-in-out;
    
}

p:hover{
    cursor:pointer;
    box-shadow: -2px 2px 2px .5px rgba(33,33,33,.3);
}

.selected {
    background: black;
    color: white;
}

/* NAV BOX STYLING */
#navigation-container {
    background: rgb(238, 237, 232);
    max-width: 600px;
    border: 1px solid #c1c1c1;
    margin: 4em auto 0 auto;
}

/* ADD NEW USER FORM STYLING*/
form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding: 1em;
    /*background: #f9f9f9;*/
}

form input {
    /*background: #f9f9f9;*/
    background: rgb(238, 237, 232);
    border: 0;
    font-family: 'Inconsolata', monospace;
    border-bottom: 1px solid #9c9c9c;
}

form button {
    background: lightgray;
    font-family: 'Inconsolata', monospace;
    padding: 0.7em;
    width: 98%;
    border: 0;
}

form button:focus{
    outline: none;
    border: 1px solid #9c9c9c;
}
    


form button:hover{
    background: gold;
}

label {
    grid-column: 1 /2;
    color: rgb(101, 108, 116);
    font-weight: bold;
    font-size: small;
    padding: 0.5em 0.5em 0.5em 0;
    
}

input {
    padding: 0.7em;
    margin-bottom: 0.5em;
}

input:focus{
    outline: none;
    border-bottom: 1px solid black;
}

input,
button {
    grid-column: 2 / 3;
}

/* SEARCH BAR STYLING */
.searchBar {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding: 1em;
    background:rgb(238, 237, 232);
    margin: 2rem auto 0 auto;
    max-width: 600px;
}

.searchBar input {
    background: rgb(238, 237, 232);
    border: 0;
    font-family: 'Inconsolata', monospace;
    border-bottom: 1px solid #9c9c9c;
}

.searchBar label {
    grid-column: 1 /2;
    color: rgb(101, 108, 116);
    font-weight: bold;
    font-size: small;
    padding: 0.5em 0.5em 0.5em 0;
}

/* TABLE STYLING */
.table-container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: #f9f9f9;
    /*border: 1px solid #c1c1c1;*/
    margin: 5rem auto 0 auto;
    max-width: 1200px;
    min-width: 500px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    padding: 0.75rem 3.5rem;
    border-bottom: 1px solid #c1c1c1;
}

td {
    padding: 0.75rem 3.5rem;
    color: rgb(101, 108, 116);
    font-family: 'Inconsolata', monospace;
    border-bottom: 1px solid #c1c1c1;
}

/* DELETE ICON STYLING + HOVER EFFECT */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

.delete-btn {
    cursor: pointer;
}

td span:hover{
    color: red;
}